
[v-cloak] { display: none }

.content {

}

.app-screen {
    position: absolute;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}


.icon.login-logo {
    font-size: 12em;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}


img.media-object {
    width: 50px;
    height: 50px;
}

#login-screen{
    padding:40px;
}

#list-screen div.bar-header-secondary{
    position:fixed;
    
}

#list-screen ul.table-view {
    margin-top: 40px;
}

.v-enter{
    opacity: 0;
    transform: translateX(400px);
    -webkit-transform: translateX(400px);
}


.v-leave {
    opacity: 0;
    transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
}
                       
